## Dict

{Key : Value}. # Key Unique, Value Can Duplicate
 
 Curely Bracis Bracket { }

 Order

 Key only Access

## Only ASSIGN ' ' {QUOTATION SYMBOL}

### Functions     (mostly used {Get, key, values, items})
#### 'clear' = Clear Dummy
####  'copy' = org not affect
####  'fromkeys' = keys oda values mingle pannum like Key : value / values evlo iruku adhu madhiri assign
####  'get' = Key Base panni Values Results ah tharum
####  'items' = key & value mingle (Results Tuple of list (Tuple Didn't change it))
####  'keys' = only show the keys
####  'pop', = Given Key (Remove key and Values)
#### 'popitem', = Last Element (key:Value) Remove
####  'setdefault' = Create Dummy value or Same name add
####  'update', = Add on key:Value
#### 'values = only show the values

In [75]:
Emp={'Name':'Raja'} # only string or Int / no varible access ex. name= strictly no /
              # ONLY ASSIGN ' '

In [76]:
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000}

In [77]:
Emp['mobile']=80880 # Given Qutotion
Emp

{'Name': 'Raja', 'Age': 30, 'Income': 30000, 'mobile': 80880}

In [78]:
Guvi_Emp={
    'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick','Iswarya','Divya','David'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,30000,45000,60000,20000,22000,15000,28000],}

Guvi_Emp

{'EmpID': [44, 55, 67, 21, 7, 8, 19, 27],
 'Name': ['Rajesh',
  'Kumar',
  'Kamal',
  'Saran',
  'Karthick',
  'Iswarya',
  'Divya',
  'David'],
 'Designation': ['Developer',
  'Tester',
  'TeamLead',
  'Manager',
  'Jr.Developer',
  'Accontant',
  'HR',
  'Admin'],
 'Salary': [25000, 30000, 45000, 60000, 20000, 22000, 15000, 28000]}

In [79]:
print(f"EmpID-------> {Guvi_Emp['EmpID'][4]}")  # EmpID-------> string la enna nama print pannanum nama tharadhu

EmpID-------> 7

In [80]:
print(f"Id card----->  {Guvi_Emp['EmpID'][4]}")
print(f"Name----->  {Guvi_Emp['Name'][4]}")
print(f"Des----->  {Guvi_Emp['Designation'][4]}")
print(f"Salary-----> {Guvi_Emp["Salary"][4]}")

Id card----->  7
Name----->  Karthick
Des----->  Jr.Developer
Salary-----> 20000

In [81]:
print(type([44,55,67,21,7,8,19,27]))

<class 'list'>

In [84]:
put_EmpId=int(input("enter the Emp_id_num: "))
pos=Guvi_Emp['EmpID'].index(put_EmpId)
pos



print(f" Empid Num ------> {Guvi_Emp['EmpID'][pos]}")
print(f" Name ------> {Guvi_Emp['Name'][pos]}")
print(f" Des------> {Guvi_Emp['Designation'][pos]}")
print(F"salary-----> {Guvi_Emp['Salary'][pos]}")

 Empid Num ------> 19
 Name ------> Divya
 Des------> HR
salary-----> 15000

In [ ]:
Guvi_Emp['Name'].index('Karthick')

4

In [ ]:
# empid_num=int(input('empid_num: '))
# Post=Guvi_Emp['EmpID'].index(empid_num)
# Post


# print(f" Empid---------> {Guvi_Emp['EmpID'][Post]}")
# print(f" emp name-----> {Guvi_Emp["Name"][Post]}")

 Empid---------> 19
 emp name-----> Divya

In [ ]:
Guvi_Emp['Name'].index('Saran')

3

In [83]:
# fromkeys

Keys=["Name","Age","Salary"]
Values=None

Emp=dict.fromkeys(Keys,Values)
Emp

{'Name': None, 'Age': None, 'Salary': None}

In [8]:
# Clear

Dummy={"Name":"Ram",
       "Age":25}

Dummy.clear()
Dummy

{}

In [7]:
# fromkeys

Keys=["Name","Age","Salary"]
Values=None

Emp=dict.fromkeys(Keys,Values)
Emp

{'Name': None, 'Age': None, 'Salary': None}

In [6]:
#Items
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000} # It Allow Duplicate in Value But Not in Keys, Mutable, Order
Emp.items()

dict_items([('Name', 'Raja'), ('Age', 30), ('Income', 30000)])

In [4]:
# Keys
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000} # It Allow Duplicate in Value But Not in Keys, Mutable, Order
Emp.keys()

dict_keys(['Name', 'Age', 'Income'])

In [5]:
# Values
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000} # It Allow Duplicate in Value But Not in Keys, Mutable, Order
Emp.values()

dict_values(['Raja', 30, 30000])

In [9]:
Guvi_Emp={
    'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick','Iswarya','Divya','David'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,30000,45000,60000,20000,22000,15000,28000],}

In [12]:
user_id=int(input("enter_emp_id: "))
place=Guvi_Emp['EmpID'].index(user_id)
place

print(f"emp_id----> {Guvi_Emp['EmpID'][place]}")
print(f"EmpName----> {Guvi_Emp['Name'][place]}")

emp_id----> 27
EmpName----> David

In [15]:
# Pop

Emp={'Name':'Raja',
     'Age':30,
     'Income':30000} # It Allow Duplicate in Value But Not in Keys, Mutable, Order
Emp.pop('Age')

30

In [16]:
Emp.popitem()

('Income', 30000)

In [17]:
Emp

{'Name': 'Raja'}

In [18]:
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000}

In [20]:
Emp['Address']="Kovai"
Emp

{'Name': 'Raja', 'Age': 30, 'Income': 30000, 'Address': 'Kovai'}

In [23]:
Emp

{'Name': 'Raja', 'Age': 30, 'Income': 30000, 'Address': 'Kovai'}

In [25]:
Emp.update({'age': 25})
Emp

{'Name': 'Raja', 'Age': 30, 'Income': 30000, 'Address': 'Kovai', 'age': 25}

In [26]:
Emp['Address']="Chennai"

In [27]:
Emp

{'Name': 'Raja', 'Age': 30, 'Income': 30000, 'Address': 'Chennai', 'age': 25}

In [28]:
Emp.setdefault('Mobile')

In [29]:
Emp

{'Name': 'Raja',
 'Age': 30,
 'Income': 30000,
 'Address': 'Chennai',
 'age': 25,
 'Mobile': None}