## Dict

{Key : Value}. # Key Unique, Value Can Duplicate
 
 Curely Bracis Bracket { }

 Order

 Key only Access

## Only ASSIGN ' ' {QUOTATION SYMBOL}

In [ ]:
Emp={'Name':'Raja'} # only string or Int / no varible access ex. name= strictly no /
              # ONLY ASSIGN ' '

In [2]:
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000}

In [ ]:
Emp['mobile']=80880 # Given Qutotion
Emp

{'Name': 'Raja', 'Age': 30, 'Income': 30000, 'mobile': 80880}

In [5]:
Guvi_Emp={
    'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick','Iswarya','Divya','David'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,30000,45000,60000,20000,22000,15000,28000],}

Guvi_Emp

{'EmpID': [44, 55, 67, 21, 7, 8, 19, 27],
 'Name': ['Rajesh',
  'Kumar',
  'Kamal',
  'Saran',
  'Karthick',
  'Iswarya',
  'Divya',
  'David'],
 'Designation': ['Developer',
  'Tester',
  'TeamLead',
  'Manager',
  'Jr.Developer',
  'Accontant',
  'HR',
  'Admin'],
 'Salary': [25000, 30000, 45000, 60000, 20000, 22000, 15000, 28000]}

In [22]:
print(f"EmpID-------> {Guvi_Emp['EmpID'][4]}")  # EmpID-------> string la enna nama print pannanum nama tharadhu

EmpID-------> 7

In [25]:
print(f"Id card----->  {Guvi_Emp['EmpID'][4]}")
print(f"Name----->  {Guvi_Emp['Name'][4]}")
print(f"Des----->  {Guvi_Emp['Designation'][4]}")
print(f"Salary-----> {Guvi_Emp["Salary"][4]}")

Id card----->  7
Name----->  Karthick
Des----->  Jr.Developer
Salary-----> 20000

In [27]:
print(type([44,55,67,21,7,8,19,27]))

<class 'list'>

In [52]:
User_EmpId=int(input("enter the Emp_id_num: "))
pos=Guvi_Emp['EmpID'].index(user_EmpId)
pos

ValueError: '55' is not in list

In [ ]:
#User_Emp_Id=int(input("Enter the Emp_Id: "))
#pos=Guvi_Emp['EmpID'].index(User_Emp_Id)
#pos