# Loops

### For Loop (Set of List or Range)
### While Loop (Infinity work)

## Syntax
### Iteration (Further Move)        
   ### Iteration = Check and cross
 for *iterator* in *iterable*:
    *Do something*

## TYPES OF FOR LOOP

### Numeric For Loop (using range)
### Collection-based For Loop (list, tuple, dictionary, string)
### Length/Range-based For Loop (using len with range)
### For Loop with Conditional Statements (adding if conditions inside loop)
### Nested For Loop (for loop inside another for loop)
### Dual Looping (zip) (iterating two sequences together)
### Index Looping (enumerate) (getting both index and item together)

In [12]:
Name=['Raja','Ravi','Rani','Ramu']

for i in Name:   # Syntax Type
    print(i)  # i means iterate varible

# i print panna tha ulla iruka items print panna

Raja
Ravi
Rani
Ramu

In [13]:
Name=['Raja','Ravi','Rani','Ramu']

for i in Name:   # Syntax Type
    print(Name)  # i means iterate varible

# i print panna tha ulla iruka items print panna

['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']

In [15]:
A=5
 
# A=5    Assign Operator
# A==5   Logical Operator 

print(6/2)     # Divides and returns float
print(6//2)    # Divides and removes decimal	
print(6%2)     # Modelution or Reminder

3.0
3
0

In [16]:
A=5

if A%2==0:
    print("Even")

else:
    print("Odd")

Odd

In [29]:
Nums=[10,20,39,67,78,44,25,22,68]

for n in Nums:

    if n%2==0:
        print(f"{n} is Even")
    
    else:
        print(f"{n} is Odd")

10 is Even
20 is Even
39 is Odd
67 is Odd
78 is Even
44 is Even
25 is Odd
22 is Even
68 is Even

In [27]:
Nums=[10,15,20,39,67,78,44,25,22,68,100,12,103,27,78,99,0,1,2,3,4,5,6,7,8,9,10]

# % 3 []
# % 5 []
# % 7 []

In [30]:
Num_3=[]
Num_5=[]
Num_7=[]


for i in Nums:
    if i%3==0:
        Num_3.append(i)

    if i%5==0:
        Num_5.append(i) 

    if i%7==0:
        Num_7.append(i) 


print(Num_3)
print(Num_5) 
print(Num_7)

[15, 39, 78, 12, 27, 78, 99, 0, 3, 6, 9]
[10, 15, 20, 25, 100, 0, 5, 10]
[0, 7]

In [7]:
Numbers=[10,20,39,67,78,44,25,22,68]

In [15]:
Even=[]
odd=[]

for i in Numbers:
    if i%2==0:
        Even.append(i)
    else:
        odd.append(i)

print(Even)
print(odd)

[10, 20, 78, 44, 22, 68]
[39, 67, 25]

In [18]:
print(*Even)  #   Adding  *  Space and Colomn Remove pannitu verum Element mattu tharum
print(*odd)

10 20 78 44 22 68
39 67 25

In [16]:
Nums=[10,20,39,67,78,44,25,22,68]


for i in Nums:
    if i%2==0:
        print(f"{i} is Even")

    else:
        print(f"{i} is Odd")

10 is Even
20 is Even
39 is Odd
67 is Odd
78 is Even
44 is Even
25 is Odd
22 is Even
68 is Even

In [21]:
Animals=['Cat','Dog','Elephant','Tiger','Lion']

# List change to nrml Elements

print(', '.join(Animals))

Cat, Dog, Elephant, Tiger, Lion

In [27]:
Animals=['Cat','Dog','Elephant','Tiger','Lion']

print(*Animals,sep=' # ')  # Space Seprated print panna USE SEP= function

Cat # Dog # Elephant # Tiger # Lion

In [29]:
Even
print(Even)

[10, 20, 78, 44, 22, 68]

In [31]:
print("This is a Even Numbers",*Even)

This is a Even Numbers 10 20 78 44 22 68

In [43]:
Name=['Raja','Ravi','Rani','Ramu']


for i in Name:

    print("#"+" "+"name of"+" "+ i)

# name of Raja
# name of Ravi
# name of Rani
# name of Ramu

In [88]:
Name=['Raja','Ravi','Rani','Ramu']

sure_name=""

for i in Name:
    sure_name=sure_name+"#"+i+" "


print(sure_name)

#Raja #Ravi #Rani #Ramu

In [86]:
",".join(Name)

'Raja,Ravi,Rani,Ramu'

In [94]:
Name=['Raja','Ravi','Rani','Ramu']

for i in Name[-1:]:
    print("#"+i)

#Ramu

In [97]:
for i in Name[1:2]:
    print("#"+i)

#Ravi

In [4]:
Name=['Raja','Ravi','Rani','Ramu']

copyname=""

for i in Name:
    copyname=copyname+"#"+ i +" "

print(copyname)

#Raja #Ravi #Rani #Ramu

In [8]:
Name=['Raja','Ravi','Rani','Ramu']

copyname=""

for i in Name:
    copyname=copyname+"#"+ i +" "
print(copyname)

#Raja #Ravi #Rani #Ramu

In [23]:
" & ".join(Name)
# print(*Name)

'Raja & Ravi & Rani & Ramu'

In [1]:
nam='Azhagar'

print("/".join(nam))

A/z/h/a/g/a/r

In [20]:
nam=['Azhagar']

add=""
for i in nam:
    add=add + "#" +" " + i
print(add)

# Azhagar

In [17]:
nam=['Azhagar']

add=""
for i in nam:
    add=add + "#" +" " + i
print(add[2])

A